@CHARSET "UTF-8";

/* @group Widget */

.striWidget {
	width: 100%;
	padding: 0;
	margin: 0;
	font-size: 12px;
	border: none;
}

/* @end */

/* @group Selection */

.striSelection {
	list-style-type: none;
	list-style-image: none;
	margin: 5px 0 10px;
	padding: 0;
}

.striSelection li {
}

.striSelection li .striNode {
	padding: 3px 5px;
	border-bottom: 1px solid #e9e9e9;
	border-top: 1px solid #e9e9e9;
}

.striSelection li .striNode .striPath {
	display: none;
}

.striSelection li .striNode .striLabel {
	float: left;
}

.striSelection li .striNode .striDeselect {
	float: right;
	display: block;
	background-color: red;
	width: 16px;
	height: 16px;
	text-indent: -10000px;
	overflow: hidden;
}

/* @end */

/* @group Result */

.striResult.striOpen {
	display: block;
}

.striResult {
	display: none;
	background-color: #ebfdd7;
}

.striResult ul {
	list-style-type: none;
	list-style-image: none;
	margin: 0;
	padding: 0;
}

.striResult > ul {
	border-top: 1px solid #e9e9e9;
	margin-bottom: 2px;
	margin-top: 9px;
}

.striResult ul li .striNode {
	padding: 3px 5px;
	border-bottom: 1px solid #e9e9e9;
}

.striResult ul li .striNode .striPath {
	display: none;
}

.striResult ul li .striNode .striLabel {
	float: left;
}

.striResult ul li .striNode .striSelect,
.striResult ul li .striNode .striDeselect {
	float: right;
	margin-left: 5px;
	display: block;
	width: 16px;
	height: 16px;
	text-indent: -10000px;
	overflow: hidden;
}

.striResult ul li .striNode .striSelect {
	background-color: green;
}

.striResult ul li .striNode .striDeselect {
	background-color: red;
}

.striResult ul li > .striChildren {
	display: none;
}

.striResult ul li.striOpen > .striChildren {
	display: block;
}

/* @end */

/* @group Tree */

.striOpen > .striTree {
	display: block;
}

.striTree {
	display: none;
}

.striTree ol {
	list-style-type: none;
	list-style-image: none;
	margin: 0;
	padding: 0;
}

.striTree > ol {
	border-top: 1px solid #e9e9e9;
	margin-bottom: 2px;
	margin-top: 9px;
}

.striTree ol ol li {
	margin-left: 20px;
	border-left: 1px solid #e9e9e9;
}

.striTree ol li .striNode {
	padding: 3px 5px;
	border-bottom: 1px solid #e9e9e9;
}

.striTree ol li .striNode .striPath {
	display: none;
}

.striTree ol li .striNode .striLabel {
	float: left;
}

.striTree ol li .striNode .striSelect,
.striTree ol li .striNode .striDeselect {
	float: right;
	margin-left: 5px;
	display: block;
	width: 16px;
	height: 16px;
	text-indent: -10000px;
	overflow: hidden;
}

.striTree ol li .striNode .striSelect {
	background-color: green;
}

.striTree ol li .striNode .striDeselect {
	background-color: red;
}

.striTree ol li > .striChildren {
	display: none;
}

.striTree ol li.striOpen > .striChildren {
	display: block;
}

/* @end */

/* @group Tools */

.striTools {
	position: relative;
	padding-bottom: 1px;
}

.striTools .striSearch {
	width: 100%;
	margin: 0;
	padding: 0;
}

.striTools .striSearch input {
	padding: 3px 2px;
	margin: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	border: 1px solid #b8b8b8;
	height: 100%;
	width: 100%;
}

.striTools .striSearch input:focus {
	background-color: #ebfdd7;
}

.striTools .striClearSearch,
.striTools .striClearSelection,
.striTools .striToggle {
	width: 22px;
	position: absolute;
	height: 22px;
}

.striTools .striClearSearch {
	top: 0;
	width: 14px;
	height: 14px;
	right: 45px;
	padding: 4px;
}

.striTools .striClearSelection {
	top: 0;
	right: 22px;
}

.striTools .striToggle {
	top: 0;
	right: 0;
}

#xxx .striTools .striClearSearch a,
#xxx .striTools .striClearSelection a,
#xxx .striTools .striToggle a {
	cursor: pointer;
	text-align: center;
	background: #eeeeee; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2VlZWVlZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNjY2NjY2MiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #eeeeee 0%, #cccccc 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#eeeeee), color-stop(100%,#cccccc)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #eeeeee 0%,#cccccc 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #eeeeee 0%,#cccccc 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #eeeeee 0%,#cccccc 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #eeeeee 0%,#cccccc 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#cccccc',GradientType=0 );
	padding: 5px 12px 5px 13px;
	-moz-border-radius: 0px 3px 3px 0px;
	-webkit-border-radius: 0px 3px 3px 0px;
	border-radius: 0px 3px 3px 0px;
	border: 1px solid #b8b8b8;
	text-shadow: 1px 1px 0 #eee;
	line-height: 1;
	color: #666966;
	font-size: 12px;
	display: block;
	width: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	text-indent: -10000px;
}

.striTools .striClearSearch a,
.striTools .striClearSelection a,
.striTools .striToggle a {
	cursor: pointer;
	background: #eeeeee; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2VlZWVlZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNjY2NjY2MiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #eeeeee 0%, #cccccc 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#eeeeee), color-stop(100%,#cccccc)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #eeeeee 0%,#cccccc 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #eeeeee 0%,#cccccc 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #eeeeee 0%,#cccccc 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #eeeeee 0%,#cccccc 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#cccccc',GradientType=0 );
	border: 1px solid #b8b8b8;
	display: block;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	text-indent: -10000px;
	height: 100%;
	width: 100%;
}

.striTools .striClearSearch a {
	border-left: 1px solid #b8b8b8;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
}

.striTools .striToggle a {
	-moz-border-radius: 0px 3px 3px 0px;
	-webkit-border-radius: 0px 3px 3px 0px;
	border-radius: 0px 3px 3px 0px;
	border-left-style: none;
}

.striTools .striClearSearch a {
	border-color: red;
}

.striTools .striClearSelection a {
	border-color: orange;
}

.striTools .striToggle a {
	border-color: teal;
}

.striTools .striToggle a:hover {
	background: #EBFDD7;
}

/* @end */

.striMessage {
	display: none;
}

/* @group helper */

.striNode:before, .striNode:after,
.striTools:before, .striTools:after {
	content: " ";
	display: table;
}

.striNode:after,
.striTools:after {
	clear: both;
}

.striNode,
.striTools {
	*zoom: 1;
}

/* @end */

