@CHARSET "UTF-8";

/* @group Widget */

.striWidget {
	width: 100%;
	padding: 0;
	margin: 0;
	font-size: 12px;
	border: none;
}

/* @end */

/* @group Selection */

.striSelection {
	list-style-type: none;
	list-style-image: none;
	margin: 5px 0 10px;
	padding: 0;
	border-top: 1px solid #e9e9e9;
}

.striSelection li {
	border-bottom: 1px solid #e9e9e9;
	padding: 3px 5px;
}

.striSelection li .striNode {
}

.striSelection li .striNode .striPath {
	display: none;
}

.striSelection li .striNode .striLabel {
	float: left;
}

.striSelection li .striNode .striDeselect {
	float: right;
}

.striSelection li .striNode .striDeselect .striHandle {
	display: block;
	background-color: red;
	width: 16px;
	height: 16px;
	text-indent: -10000px;
	overflow: hidden;
}

/* @end */

/* @group Tools */

.striTools {
	padding-bottom: 5px;
}

.striTools .striSearch {
	float: left;
	width: 80%;
}

.striTools .striSearch input {
	padding: 5px 12px 5px 13px;
	margin: 0;
	width: 100%;
	box-sizing: border-box;
	-moz-border-radius: 3px 0px 0px 3px;
	-webkit-border-radius: 3px 0px 0px 3pxx;
	border-radius: 3px 0px 0px 3px;
	border-bottom: 1px solid #b8b8b8;
	border-top: 1px solid #b8b8b8;
	border-left: 1px solid #b8b8b8;
	border-right: none;
	line-height: 1;
	font-size: 12px;
}

.striTools .striToggle {
	float: right;
	width: 20%;
}

.striTools .striToggle a {
	cursor: pointer;
	text-align: center;
	background: #eeeeee; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2VlZWVlZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNjY2NjY2MiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #eeeeee 0%, #cccccc 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#eeeeee), color-stop(100%,#cccccc)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #eeeeee 0%,#cccccc 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #eeeeee 0%,#cccccc 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #eeeeee 0%,#cccccc 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #eeeeee 0%,#cccccc 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#cccccc',GradientType=0 );
	padding: 5px 12px 5px 13px;
	-moz-border-radius: 0px 3px 3px 0px;
	-webkit-border-radius: 0px 3px 3px 0px;
	border-radius: 0px 3px 3px 0px;
	border: 1px solid #b8b8b8;
	text-shadow: 1px 1px 0 #eee;
	line-height: 1;
	color: #666966;
	font-size: 12px;
	display: block;
	width: 100%;
	box-sizing: border-box;
}

.striTools .striToggle:hover {
	background: #EBFDD7;
}

/* @end */

/* @group helper */

.striNode:before, .striNode:after,
.striTools:before, .striTools:after {
	content: " ";
	display: table;
}

.striNode:after,
.striTools:after {
	clear: both;
}

.striNode,
.striTools {
	*zoom: 1;
}

/* @end */

